*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.hero {
/* margin-top: 00px; */
   min-height: 80vh;
   position: relative;
   /* background-color: #0a0a0a; */
  }
html{
    scroll-behavior: smooth;
}
body{
  
    /* min-height: 3000px; */
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgb(5, 25, 50)
    /* background-color: black; */
}
main{
    margin-top: 50vh;
} 


.sidebar a.line2:hover{
  text-decoration: none;
  font-size: 14pt;
  color: rgb(209, 209, 209);
}

.nav {
    /* height: 3rem; */
    height: 4rem; /* 2.8*/
    color: rgb(5, 25, 50);
    position: sticky;
    top: 0;
    /* margin: 0 auto; */
    width: 100%;
    /* background-color: transparent; */
    background-color: rgba(6, 37, 76, 0.8) !important;
    color: #ffffffda;
    padding: 8px;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* gap: 200px; */
    backdrop-filter: saturate(1.8) blur(20px);
    border-bottom: 1px solid gray;
    z-index: 3;
  }
  .nav span{
    color: rgb(15, 255, 15);
  }
  .blurish{
    width: 100vw;
    height: 100vh;
    /* backdrop-filter: ; */
  }
  .test{
    /* background-color: red; */
    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-image: url(bannerbaru.png);
    filter: blur(0px);
    background-attachment: fixed;
    /* margin-bottom: 200px; */

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .space{
  height: 5vh;
  }
  .banner{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .fobar{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .konek{
    position: absolute;
    margin: 0 auto;
    width: 90%;
  }

  .names{
    /* left: 50%; */
    display: flex;
    text-shadow: 0 3px 15px rgba(255, 255, 255, 0.8);
    flex-direction: row;
    /* justify-content: center; */
    /* gap: 200px; */
  }
  .names li{
    font-size: 1.3rem;
    color: white;
  }


  .credits{
    margin: 0 auto;
    /* margin-left: 200px; */
    padding: 0;
    width: 80vw;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin: 0 auto; */
    /* float: left; */
    /* display: block; */
    /* background-color: rgb(5, 25, 50); */
    /* display: flex;
    flex-direction: row; */
  }

  .credits#twibbon{
    display: flex;
    justify-content: center;
  }
  .mySwiper {
  width: 90%;
  max-width: 800px;
}
 
  .swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 500px;
    /* padding: 30px; */
  }
  .mySwiper#swipercredits{
    max-width: 800px;
    margin: 0 auto;
  }
  .mySwiper#swipertwibbon{
    max-width: 500px !important ;
    margin: 0 auto;
  }
  .shadow{
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.523);
    box-shadow: 10px solid rgba(0, 0, 0, 0.619);
    /* margin-bottom: 20px; */
  }

  .swiper-button-next, .swiper-button-prev, .swiper-pagination{
    color: rgba(255, 255, 255, 0.5);
  }
  .mid{
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */
    justify-content: flex-end;
    float: right;
    margin-left: auto;
  }
  .nav a{
    font-size: 15pt;
    text-decoration: none;
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
    position: relative;
  }
  .nav img{
    width: 3rem;
    height:3rem;
    border-radius: 20px;
    margin-right: 1rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0,0.8);
    margin-left: 0.6rem;
    }

    .mid a {
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0 1vw;
    margin-top: 0.6rem;
    color: white;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    font-family: "Poppins";
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: none;
    /* color: rgba(6, 255, 255, 0.72); */
    /* font-size: 1rem; */
  }

  .line {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
 
  .line:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 0px;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
  }
  
  .line:hover:after {
    width: 100%;
    left: 0;
  }


  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(5, 46, 97, 0.6);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    transform: translateX(100%); 
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar.show {
    transform: translateX(0);
    opacity: 1;
}

.sidebar.hide {
    transform: translateX(100%);
    opacity: 0;
}

  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30pt;  
    padding: 2rem;
    color: white;
    font-family: 'Poppins';
    text-decoration: none;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
}  

  .sidebar a:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: 13pt;
  }

  .hide{
    display: none;
  }

  .schedule-table {
    width: 100%;
    max-width: 90rem;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 15px rgba(64, 64, 64, 0.1);
    background-color: #ffffff;
}

.schedule-table thead {
    background-color: #090669e9;
    color: white;
}

.schedule-table th, .schedule-table td {
    padding: 12px;
    text-align: center;
}
.schedule-table th{
  border-bottom: 1px solid #000000;
}

.schedule-table .day-header, .kelas11, .break{
    background-color: #3eba45db;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
.day-header{
  background-color: #3eba45db;
}

.schedule-table .kelas11{
    background-color: rgb(96, 2, 2);
    color: wheat;
}

.break{
  background-color: burlywood;
  color: white;
}
.kelas12{
  background-color: rgb(54, 0, 0);
  color: wheat;
}
.kelas112{
  background-color: rgb(127, 6, 6);
  color: wheat;
}

.schedule-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.schedule-table td {
    vertical-align: top;
}

.schedule-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.schedule-table td {
  vertical-align: top;
  text-align: center;
}

.rundown{
  position: relative;
  text-align: center;
  color: white;
  margin: 40px;
}
.rundown img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.centered{
  width: auto;
  height: auto;
  background-color: #121212d4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  margin-top: 28px;
  /* text-align: center; */
}
.centered a{
  padding: 12px;
  color: rgb(255, 255, 255);
  font-family: 'Poppins';
  font-size: 20pt;
  margin: 15px 10px 15px 10px;
  font-weight: 400;
  text-decoration: none;

}
.teksrundown{
  color: white;
  font-size: 3rem;
  text-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
  font-family: 'Poppins';
}

.centered:hover{
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8);
}
.centered a:hover{
  color: black;
  
}

.bannerhide{
  display: none;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.intro{
  /* display: none; */
	position: fixed;
	z-index: 99999999;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100vh;
	background-color: rgba(5, 25, 50, 0.95);
  backdrop-filter: saturate(1.8) blur(20px);
	transition: 1s;
}

.introimg{
  position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 10rem;
  height:10rem;
  border-radius: 20px;
  /* margin-right: 1rem; */
}

.logo-header{
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D9DCD6;
}



.logo{
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
}

.logo.active{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
  /* overflow: hidden; */
}

.logo.fade{
	bottom: 0;
	opacity: 0;
	transition: ease-in-out 0.5s;
  /* overflow: visible; */
}


.anggota{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  height: auto;
  gap: 0.7vh;
}

.anggota h1{
  font-size: 3rem;
  color: white;
  margin-left: 2rem;
}

.pendaftaran{
  display: flex;
  align-items: center;
  width: 13rem;
  height: 4rem;
  text-align: center; 
  /* margin: 0 auto; */
  border-radius: 30px;
  background-color: rgb(0, 140, 0);
  transition: all 0.3s ease-in-out;
  /* margin-bottom: 30px; */
}

@keyframes appear{
  from{
      opacity: 0;
      scale: 0.5;
  }
  to{
      opacity:1;
      scale: 1;
  }
}

.penjelasantw{
  padding-left: 38px;
}

.blur{
  opacity: 1.0;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.daftar a{
  margin: 0 auto;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 30pt;
  
}

.pendaftaran a{
  display: block;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  /* color: white;  */
  text-decoration: none; 
  /* display: inline-block; */
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  /* font-style: ; */
}



#pendaftaran-atas .create{
  font-size: 17pt;
}

.pendaftaran:hover{
  width: 13rem;
  height: 4.5rem;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 140, 0, 0.5);
  transition: all 0.3s ease-in-out;
}


#pendaftaran-atas .create:hover{
  font-size: 19pt;
}

#pendaftaran-bawah{
  display: none;
}
#pendaftaran-atas{
  display: block;
}
/* .gradient{
  
} */
#twibbon{
  font-size: 5rem;
  text-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
}

.texttwibob{
  font-size: 2rem;
  text-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
}

.anggota2 h1.kredit{
  color: white;
  font-size: 30px;
  text-shadow: 0 3px 15px rgba(255, 255, 255, 0.8);

}

.names2{
  display: flex;
  flex-direction: row;
}
.names2 li{
  color: white;
}

.gradient{
  background-image: linear-gradient(rgb(5, 25, 50), #000425);
  width: auto;
  height: 7rem;
}

.anggota2{
  background-color: #000425;
  /* margin-top: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.hidebawah{
  display: none;
}

.judulcredits{
  font-size: 2rem;
}
.satu, .dua{
  display: flex;
  flex-direction: row;
}

@media (max-width:2000px){
  .bannerhide{
    display: none;
  }
  .hide{
    display: none;
}
  .hideonM{
    display: block;
}
.sidebar.show{
  display: none;
}
.hidebawah{
  display: none;
}
.credits, .anggota{
  display: flex;
}
}
@media (max-width:1584px){
  .anggota li{
    font-size:1vw;
  }
  .anggota h1{
    font-size: 1.5vw;
  }
  .credits{
    gap:4rem;
  }
  #pendaftaran-bawah{
    display: none;
  }
}



/* @media (max-width:1456px) {
  .anggota h1{
    font-size: 90%;
  }
  .anggota li{
    font-size: 60%;
  }
} */
@media (max-width:1404px){
  .anggota h1{
    font-size: 1.3vw;
  }
  .anggota li{
    font-size: 0.95vw;
  }
}
@media (max-width:1383px){
  .anggota h1{
    font-size: 1.3vw;
  }
  .anggota li{
    font-size: 0.92vw;
  }
}
@media (max-width:1371px){
  .anggota h1{
    font-size: 1.2vw;
  }
  .anggota li{
    font-size: 0.85vw;
  }
}
@media (max-width:1363px){
  .anggota h1{
    font-size: 1.2vw;
  }
  .anggota li{
    font-size: 0.9vw;
  }
}
@media (max-width:1331px){
  .anggota h1{
    font-size: 1.2vw;
  }
  .anggota li{
    font-size: 0.93vw;
  }
  .credits{
    gap: 30px;
  }
}
@media (max-width:1315px){
  .anggota h1{
    font-size: 1.2vw;
  }
  .anggota li{
    font-size: 0.93vw;
  }
  .credits{
    gap: 20px;
  }
}
@media (max-width:1281px){
  .anggota h1{
    font-size: 1.2vw;
  }
  .anggota li{
    font-size: 0.90vw;
  }

}
@media (max-width:1277px){
  .anggota h1{
    font-size: 1.2vw;
  }
  .anggota li{
    font-size: 0.90vw;
  }
}
@media (max-width:1269px){
  .anggota h1{
    font-size: 1.2vw;
  }
  .anggota li{
    font-size: 0.87vw;
  }
}

@media (max-width:1200px){

    html{
        font-size: 85%;
    }
    .penjelasantw{
      padding-left: 0px;
    }
    .penjelasantw h1#twibbon{
      font-size: 3rem;
    }
    .texttwibob{
      font-size: 1.5rem;
    }
    .nav {
        height: 4rem;
    }
    .schedule-table{
      width: 80%;
    }
    .anggota h1{
      font-size: 80%;
    }
    .anggota li{
      font-size: 60%;
    }
    .credits{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100vw;
    }
    .hidebawah{
      display: flex;
    }
    .names2{
      font-size: 95%;
      margin-bottom: 30px;
    }
    #hehe{
      display: none;
    }
    .anggota{
      display: none;
    }
    #pendaftaran-bawah{
      display: block;
    }
    #pendaftaran-atas{
      display: none;
    }
    .penjelasantw{
      padding-bottom: 0px;
      text-align: center;
    }
    .anggota2{
      text-shadow: 0 3px 15px rgba(255, 255, 255, 0.8);
    }
	#twi{
      display: none;
    }
    /* .names{

    } */
    
    
}

@media (max-width:1045px){
  /* .swiper-slide img{
    width: 70vw;
    height: auto;
  } */
  /* .mySwiper{
    width: 70vw;
  } */

}

@media (max-width:992px){
    html{
        font-size: 80%;
    }
    .nav a{
        font-size: 100%;
    }
    .mid a{
        margin-top: 0rem;
    }
    .hide{
        display: block;
    }
    .hideonM{
        display: none;
    }
    .test{
      display: none;
    }
    .bannerhide{
      display: block;
    }
    .sidebar.show{
      display: block;
    }
    .names2 li{
      font-size: 80%;
    }
    .judulcredits{
      font-size: 1.8rem;
    }
}

@media (max-width:866px){
    html{
        font-size: 70%;
    }
    .mySwiper#swipercredits{
      max-width: 800px;
    }

}

@media (max-width:768px){
    html{
        font-size: 70%;
    }
    #twibbon{
      font-size: 4rem;
    }
    .centered a{
      font-size: 2rem;
    }
}


@media (max-width:576px ){
    html{
        font-size: 65%;
    }
    .nav a{
        font-size: 80%;
    }
    .sidebar{
        width: 100%;
    }
    .test{
      display: none;
    }
    .satu, .dua{
      flex-direction: column;
    }
    #twibbon{
      font-size: 3rem;
    }
  }
@media (max-width:392px){
  .centered a{
    font-size: 1.5rem;
  }
  }
